/*                                      بسم الله الرحمن الرحيم* /

/*                     Main Divs                       */
* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;


}
.pd-y {
    /* For padding all the div */

    padding: 50px 0px;
}

.container {
    
    width: 80%;
    margin: auto;
}

.section-header {

    text-align: center;

}

.section-title {
    color: black;
    font-size: 24;
    text-transform: capitalize;
}

.section-header .section-line {
    margin: 16px auto 35px auto;
    display: block;
    height: 3px;
    width: 30px;
    background-color: crimson;

}




/*                                Navbar Edit                 */

.container-fluid .nav-link, .container-fluid .navbar-brand {
    color: whitesmoke;
}

.container-fluid .navbar-brand {
    
    margin-left: 30px;
    margin-bottom: 5px;
}
.container-fluid .d-flex .form-control {
    
    width: 280px;
}
.container-fluid .d-flex .btn-outline-success {
    margin-left: 20px;
    border-color: whitesmoke;
    color: whitesmoke
}

.container-fluid .d-flex .btn-outline-success:hover {

    background-color: red;
}

.container-fluid {
    background-color: rgba(0,0,0,0.4)
    
    
}
.container-fluid .nav-link:hover{
    background-color: gainsboro;
    color: white;
}
.container-fluid .nav-link:focus{
    color: red;
}
/*                                          Home Page                 */

.home-page {
    background-image: url(cake.jpeg);
    background-size: cover;
    height: 70vh;

}
.home-class {
    
    height: 70vh;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    
}

.home-class h1 {
    opacity: 0.8;
    background-color: black;
    color: white;
    font-size: 29;
    text-transform: uppercase;
    line-height: 1.5;
    letter-spacing: 6px;
    font-family: 'Varela Round', sans-serif;
}
.overlay-home {
    
    background-color: rgba(0,0,0,0.4);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

/*                                        About Page                     */
.about-texts h5 {
    text-align: center;
    margin-bottom: 20px;
    text-shadow:2 ;
    color: gray;
}
.about-texts p, .about-texts-two .two-right p {
    font-size: 17;
    text-shadow:2 ;
    color: gray;
}
.about-texts p {
    margin-top: 10px;
    margin-bottom: 20px;

}

.two-left, .two-right {
    margin-top: 30px;
  
    
}
.two-left {
    margin-right: 40px;
}
.two-left h6 {
    text-align: center;
    text-shadow:2 ;
    color: gray;
    margin-bottom: 30px;
}
.two-left img {
    
    opacity: 0.6;
    transition: opacity 0.5s;
}
.two-left img:hover {
    opacity: 1;
}
.about-texts-two {
    display: flex;
    flex-direction: row;
    
}




/*              Card-Flex               */ 
.card-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
    width: 95%;
    margin: auto;

}
.card-flex .card {
    opacity: 0.7;
    transition: opacity 0.5s;
   
}
.card-flex .card:hover {
    opacity: 1;
}
   

.card-first-text, .card-text {
    text-align: center;
    text-shadow:2 ;
    color: gray;
    font-size: 16;
    margin-bottom: 30px;

}

/*                             Blog Contents                       */

.blog-content {
    border: 1px solid gainsboro;
    box-shadow: 4px 4px gainsboro;
    width: 80%;
    margin: auto;
}
.blog-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.blog-img img {
    width: 100%;
    opacity: 0.8;
    transition: opacity 0.5s;
}
/* Hovers */
.blog-img img:hover { 
    opacity: 1;
}
.blog-desc h3 {
    text-transform: uppercase;
    margin: 10px 0px 15px 8px;

}
.blog-desc .title-desc, .blog-desc p {
    margin-left: 8px;
}
.blog-desc p {
    margin-top: 25px;
    margin-bottom: 30px;
    color:rgba(0,0,0,0.9)
}
.blog-desc .blog-date {
    color: grey;
    margin-left: 2px;
 
}
.blog-btn .btn-blog, .blog-btn p {

    margin: 0 20px 0 15px; 

}
.blog-btn p {
    margin-top: 9px;
}
.blog-btn .btn-blog {
    padding: 8px;
    background-color: white;
    border: 2px solid #CAD1D3;
    transition: background-color 0.5s, border 0.5s;
    font-weight: 500;
}
.btn-blog:hover {
    background-color: #C3C3C3;
    border: 2px solid #C3C3C3;
}
.btn-blog:focus, .blog-content {
    

}
.blog-btn {
    margin-bottom: 25px;
}

/*                                          Media Query ( from 992px to 400px )                  */

/*          Bigger Screen       */
@media screen and (min-width:768px) and (max-width: 992px) {
    
    .about-texts-two {
        display: flex;
        flex-direction: column;
        
    
    }
    .card-flex {
        width: 93%;
    }
   
}

/*          Tablet Screen       */
@media screen and (min-width:401px) and (max-width: 768px) {
    
    .about-texts-two {
        display: flex;
        flex-direction: column;
    
    }
    .home-class h1 {
        font-size: 24;
    }
    .about-texts p, .about-texts-two .two-right p {
        font-size: 15;
        
    }
    .card-flex {
        width: 90%;
        opacity: 1;
    }
    .card-flex .card {
        opacity: 1;
    }
}

/*          Mobile     Screen */
@media screen and (max-width:400px) {
    
    .about-texts-two {
        display: flex;
        flex-direction: column;
    
    }
    .two-left img {
        width: 80%;
    }
    .home-class h1 {
        font-size: 15;
    }
    .about-texts p, .about-texts-two .two-right p {
        font-size: 13;
    }
    .card-flex {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 40%;
    }
    .card-flex .card {
        opacity: 1;
    }

}







